html {
	--culoare-albastru:#0234FA;
	--culoare-albastru-inchis:#090AE3;
	--culoare-albastru-deschis-1:#095FE3;
	--culoare-albastru-deschis-2:#0A98FB;
	--culoare-albastru-super-deschis:#29D6FF;
	--culoare-mov:#4A1FFF;
	--culoare-negru:#000000;
	--culoare-alb:#FFFFFF;
}


