<!DOCTYPE html>
<html lang="ro">

<head>
  <meta name="description" content="Sala de fitness lista de servicii">
  <meta name="keywords" content="sala, fitness, servicii, program">
	<title>Sala de Fitness - Produse</title>
	<%- include("../fragmente/head") %>

	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>

</head>

<body>
<%- include("../fragmente/header") %>
<br><br><br><br><br><br><br><br>


<main>
	<section>
		<h2>Produse...2</h2>
		
</main>

<%- include("../fragmente/footer") %>

<div id="banner"><p>Vine trenulețul.</p></div>
	<a href="#top" title="hai sus frate" id="link-top"><div id="triunghi">&#9650;</div></a>

</body>

</html>