#banner {
    position: fixed;
    display: block;
    bottom: 0;
    width: 100%;
    left: -100%;
    height: 22px;
    animation-name: banner;
    animation-duration: 5s;
    animation-timing-function: linear;
}

#banner p{
    position: relative;
    text-align: center;
    bottom: 17px;
    font-size: 20px;
}

@keyframes banner{
    0%{
        background: var(--culoare-albastru-inchis);
        border: 3px solid var(--culoare-mov);
}
    25%{
        background: var(--culoare-mov);
        border: 3px solid var(--culoare-albastru-super-deschis);
}
    50%{
        left: 0;
        background: var(--culoare-albastru-super-deschis);
        border: 3px solid var(--culoare-mov);
}
    100%{
        left: 0;
        background: var(--culoare-mov);
        border: 3px solid var(--culoare-albastru-super-deschis);
}
}

