<footer>
	<a href="#top">Inapoi la inceputul paginii</a>
	<address>
		<p>Date de contact:</p>
		<p>Telefon:<a href="tel:0721110110">0721110110</a></p>
		<p>Adresa: Strada Tomis, Nr. 1</p>
		<p><a href = "mailto:strongman@gmail.com">strongman@gmail.com</a></p>
	</address>
<small>&copy; Copyright <time datetime="2021-03-13 17:00">2021</time> STRONGMAN. Toate drepturile rezervate.</small>

</footer>