<header>

<h1>Descopera sala de fitness STRONGMAN din Bucuresti.</h1>
</header>
<nav>
	<label id="hamburger" for="ch-menu">
            <img src="/resurse/imagini/hamburger.png" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">
	<ul class="meniu">
        <li class="bara"><a href="#"></i>Acasa</a></li>
        <li><div><a href="#">Produse</a></div>
            <ul class="subprod">
                <li><a href="/produse">Toate</a></li>
                <li><a href="/produse?categ=mancare">Mancare</a></li>
                <li><a href="/produse?categ=bautura">Bautura</a></li>
                <li><a href="/produse?categ=accesorii">Accesorii</a></li>
            </ul></li>
        <li class="bara"><a href="/servicii">Servicii</a></li>
        <li><div>Antrenor</div>
        	<ul style="font-weight: bold; font-style: arial;">
        	<li><a href="#dorian">Dorian Popa</a></li>
        	<li><a href="marcel>">Marcel </a></li>
        	</ul>
        </li>
    </ul>
</nav>


